include mixin.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="Быстрая установка видеонаблюдения в Москве и Московской области под ключ. Системы контроля доступа СКУД.")
        title ВИДЕОНАБЛЮДЕНИЕ-БЫСТРО.РФ Установка систем видеонаблюдения и контроля доступа под ключ.
        link(href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic-ext" type="text/css")
        script.
          (function(w, c){(w[c]=w[c]||[]).push(function(){new zTracker({"id":"fbd4c60db7443e3cf810ffd0ed8d61fa987","metrics":{"metrika":"24757037","ga":"UA-64547242-2"}});});})(window, "zTrackerCallbacks");
        script#zd_ct_phone_script(async="" src="https://my.zadarma.com/js/ct_phone.min.js")

        // Yandex.Metrika counter
        script(type="text/javascript").
          (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
          try {
          w.yaCounter24757037 = new Ya.Metrika({id:24757037,
          webvisor:true,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,params:window.yaParams||{ }});
          } catch(e) { }
          });
          var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
          if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
          })(document, window, "yandex_metrika_callbacks");
        noscript
          div
            img(src="//mc.yandex.ru/watch/24757037" style="position:absolute; left:-9999px;" alt="")
        // /Yandex.Metrika counter
    body
        header
           .container
                .top
                    .title-descr
                        h2 ВИДЕОНАБЛЮДЕНИЕ-БЫСТРО.РФ
                        .podz Установка систем видеонаблюдения и контроля доступа под ключ.
                            br
                            span.two Проектирование, монтаж, обслуживание в Москве и Подмосковье.
                        .podz__adress г. Москва#[br]Б. Дровяной пер., 13/7
                    .contacts
                        .worck Звоните с 10.00 до 21.00 без выходных!
                        a.tel(href="tel:+74993467121")
                            img(src="img/icon-phone.png", alt="phone")
                            span.zphone 8 (499) 346-71-21
                        button.btn(type="button").fansy Обратный звонок
        section.banner
            .container.top
                strong УСТАНОВКА#[br]ВИДЕОНАБЛЮДЕНИЯ
                    span.orange  ЗА 2 ДНЯ!
                span.adress г. Москва #[br]метро Марксистская #[br]Б. Дровяной пер., 13/7
        section.container.akciy
            .image-cam
                img(src="img/camera.jpg", alt="pic camera")
                .top-str
                    span Осталось камер по акции на складе:
                    br
                    marquee(direction="left" scrolldelay="90" scrollamount="6" behavior="scroll" loop="0" onmouseover="this.stop()" onmouseout="this.start()")
                        span &nbsp;&nbsp;&nbsp;
                            strong 2 шт.&nbsp;&nbsp;&nbsp;
            .akc-text
                h2 Акция!&nbsp;&nbsp; Купольная камера за 
                    span.cross 3240 
                        span.first-line
                        span.second-line
                    | руб. = 0 руб
                img(src="img/mini-camera.jpg", alt="pic mini-camera")
                p #[span.orange Бесплатно - новинка,] купольная, антивандальная, цветная камера с вариофокальным объективом f = от 2,8 до 10 мм, матрица SONY, режим день/ночь, инфракрасная подсветка до 30 метров! *,**
                    br
                    | * - Количество акционных камер на складе ограничено.
                    br
                    | ** - При установке системы от трех камер и более.
                    br
                    | Срок действия акции ограничен.
                .bot-str
                    span Осталось камер по акции на складе:
                    br
                    marquee(direction="left" scrolldelay="90" scrollamount="6" behavior="scroll" loop="0" onmouseover="this.stop()" onmouseout="this.start()")
                        span &nbsp;&nbsp;&nbsp;
                            strong 2 шт.&nbsp;&nbsp;&nbsp;
                .second-my.timerhello.timerhello_794
                  .second-my-content
                    p.titloftimer До окончания акции
                    br
                    p.result
                      span.result-day.items 00
                      span.dot дн. 
                      span.result-hour.items 00
                      span.dot :
                      span.result-minute.items 58
                      span.dot :
                      span.result-second.items 34
                .forma-zayvka
                    h3 Оставьте заявку сейчас
                    div получите камеру бусплатно!
                    form(name="ZAYAVKA CUPOL BESPLATNO" method="post" action="send.php" enctype="multipart/form-data")
                        .input-wrap
                            input(type="text" placeholder="Ваше имя" name="name")
                            img.icon-user(src="img/user.png", alt="icon")
                        .input-wrap
                            input(type="tel" placeholder='Введите ваш телефон*' name="telefon")
                            img(src="img/icon-phone.png", alt="icon").icon-phone
                        button.btn(type="submit") Получите бесплатную камеру
                    div Мы гарантируем конфиденциальность ваших данных
                    .zakl-1
                        img(src="img/zakl.png", alt="pic")
                    .zakl-2
                        img(src="img/zakl.png", alt="pic")
                    .zakl-3
                        img(src="img/zakl.png", alt="pic")
                    .zakl-4
                        img(src="img/zakl.png", alt="pic")
        section.container.dist-video
            h2.sect-title 
                span.title  ДИСТАНЦИОННОЕ ВИДЕОНАБЛЮДЕНИЕ #[br.b] ЗА 2 ДНЯ!
                span.line
            .content-between
                .left-block
                    h3 Полный контроль из любой точки мира
                    img(src="img/video-in-phone.jpg", alt="photo").pic
                    p Самая популярная на сегодня опция системы видеонаблюдения это - удаленный мониторинг объекта наблюдения. Наши клиенты очень часто заинтересованы в дистанционном контроле своего бизнеса, дома, склада, автостоянки, ресторана и.т.д. Владейте ситуацией в любом месте 24 часа в сутки на планшете, смартфоне, ноутбуке!
                    button(type="button").btn.fansy Заказать
                .right-block
                    h3 Настройка наблюдения через интернет в подарок!
                    img.min(src="img/stock-photo.jpg", alt="photo")
                    p.down  Мы дарим нашим клиентам настройку видеонаблюдения через интернет.
                    button(type="button").btn.fansy Заказать
        section.container.youtube
            h2.sect-title
                span.title  ВНИМАНИЕ! У ВАС ВОРУЮТ, ОТЛЫНИВАЮТ, ПОРТЯТ, ОБМАНЫВАЮТ, НАПАДАЮТ, УГРОЖАЮТ!?
                    span.line 
            .slick-sl
                .content-between
                    .left-block
                        ul
                            li Вы беспокоитесь о безопасности своего бизнеса?
                            li Вы вслепую управляете компанией?
                            li Подозреваете, что у вас крадут?
                        .iframe(data-youtube-id="OnErNfa3d_I" data-theme="dark") Как крадут шубы.
                    .right-block
                         ul
                            li Теряете деньги на кассе и не можете это проконтролировать?
                            li Сотрудники отлынивают от работы?
                            li У вас персонал опаздывает на работу?
                         .iframe(data-youtube-id="lpBAUgdEVj4" data-theme="dark") Видеонаблюдение Казань
                .content-between
                    .left-block
                        ul
                            li Правоохранительные органы требуют достоверную информацию о происшествии на вашем объекте? 
                            li Вашу машину пытались угнать или испортить?
                        .iframe(data-youtube-id="xBBMu00HZWA" data-theme="dark") Козлы испортили машину
                    .right-block
                         ul
                            li  Боитесь, что люди могут испортить оборудование или помещение?
                            li Не знаете, как ваша няня обращается с вашим ребенком?
                         .iframe(data-youtube-id="z6EySvkT9fA" data-theme="dark") Камеры видеонаблюдения засекли жестокости няни
            p Посмотрите эти видеоматериалы. К сожалению, к нам обращаются за установкой видеонаблюдения и систем контроля доступа ПОСЛЕ происшествий, краж, криминальных инциндентов. Все происходит как в пословице: "Пока гром не грянет, мужик не перекрестится". Будьте умнее, предусмотрительнее, свяжитесь с нами ДО того, как случится беда! В большинстве случаев, это не просто позволит контролировать события, а полностью предотвратит проблему. Прямо сейчас звоните или оставьте заявку!
            .cont
                .worck Звоните с 10.00 до 21.00 без выходных!
                    a.tel(href="tel:+74993467121")
                        img(src="img/icon-phone.png", alt="phone")
                        span.zphone 8 (499) 346-71-21
        section.container.montag
            h2.sect-title
                span.title  КАЧЕСТВЕННЫЙ МОНТАЖ С СОБЛЮДЕНИЕМ 
                    br
                    | ГОСУДАРСТВЕННЫХ СТАНДАРТОВ
                    span.line 
            .content-between
                .left-block
                    h4 ГОСТ Р 51558-2008 СРЕДСТВА И СИСТЕМЫ ОХРАННЫЕ ТЕЛЕВИЗИОННЫЕ
                    img(src="img/rst.png", alt="pic")
                    p Соблюдение ГОСТ Р 51558-2008 наша первоочередная задача. При организации и производстве работ по монтажу и наладке электротехнических устройств соблюдаются требования СНиП 3.01.01-85, СНиП III-4-80, государственных стандартов, технических условий, правил устройства электроустановок.
                    button(type="button").btn.fansy Заказать
                .right-block
                    h4 Допуск СРО и СНиП 111-4-80, СНиП 3.05.06 СТРОИТЕЛЬНЫЕ НОРМЫ И ПРАВИЛА
                    img(src="img/remont_stroyka.jpg", alt="pic")
                    p У нас есть допуск СРО - это свидетельство о допуске к строительным и проектировочным работам, которое выдается в соответствии с действующими нормами и стандартами РФ. Государственные организации заказывают у нас такие работы в полном соответствии с Федеральным законом ФЗ- №315.
                    button(type="button").btn.fansy Заказать
        section.vigodi
            h2.sect-title.container
                span.title  ПРИЧИНЫ ПО КОТОРЫМ ВАМ ВЫГОДНО ОБРАТИТЬСЯ
                    br
                    | ИМЕННО К НАМ
                span.line
            .block-icon
                .item
                    img(src="img/home.png", alt="pic")
                    .discr Наш опыт работы - более 15 лет
                .item
                    img(src="img/zam.png", alt="pic")
                    .discr Высокая скорость расчета проекта
                .item
                    img(src="img/doc.png", alt="pic")
                    .discr Быстрый монтаж системы
                .item
                    img(src="img/plus.png", alt="png")
                    .discr 100% гарантия отсутствия слепых зон
            .photo-block
                img(src="img/photo_1.jpg", alt="photo")
                img(src="img/photo_2.jpg", alt="photo")
                img(src="img/photo_3.jpg", alt="photo")
                img(src="img/photo_4.jpg", alt="photo")
                img(src="img/photo_5.jpg", alt="photo")
        section.container.price
            h2.sect-title
                span.title СТОИМОСТЬ УСТАНОВКИ ВИДЕОНАБЛЮДЕНИЯ
                    br
                    | И КОНТРОЛЯ ДОСТУПА
                    span.line
            .contacts
                .worck Звоните с 10.00 до 21.00 без выходных!
                a.tel(href="tel:+74993467121")
                    img(src="img/icon-phone.png", alt="phone")
                    span.zphone 8 (499) 346-71-21
                img(src="img/news.jpg", alt="pic")
            p Стоимость комплекса системы видеонаблюдения складывается из средств на оплату оборудования, расходных материалов и монтажных работ.
            p Существует множество систем разных ценовых сегментов и разных возможностей. Выбор производителя техники может зависеть от  цены оборудования, требованиями по надежности комплекса, функциональным возможностям, престижу бренда и.т.д. Для определения  стоимости  системы видеонаблюдения  необходимо на месте обговорить все пожелания и ограничения, понять требования к внешнему виду техники и проводке, дизайну помещений, условий эксплуатации, освещенности объекта, качеству записи и просмотра изображения.
            p Факторами, влияющими на удорожание стоимости установки видеонаблюдения являются  большие протяженности длины трасс, плохое освещение, сопряжение систем видеонаблюдения с охранной сигнализацией, формирование сложных алгоритмов работы и территориально-распределенных сетей видеонаблюдения.
            p Для точного расчета стоимости установки системы  видеонаблюдения и контроля доступа оставьте заявку, мы учтем все ваши пожелания.
        section.raschet
            .container
                .ras-wrap
                    .ras-left
                        h2 ИНТЕРЕСУЕТ СТОИМОСТЬ УСТАНОВКИ ВИДЕОНАБЛЮДЕНИЯ?
                        .ras-discr Оставьте заявку и мы бесплатно рассчитаем минимальный и оптимальный вариант цены.
                    .ras-right
                        .forma-zayvka
                            h3 Оставьте заявку
                            div на бесплатный расчёт двух вариантов стоимости
                            form(name="ZAYAVKA CUPOL BESPLATNO" method="post" action="send.php" enctype="multipart/form-data")
                                .input-wrap
                                    input(type="text" placeholder="Ваше имя" name='name')
                                    img.icon-user(src="img/user.png", alt="icon")
                                .input-wrap
                                    input(type="tel" placeholder='Введите ваш телефон*' name='telefon')
                                    img(src="img/icon-phone.png", alt="icon").icon-phone
                                button.btn(type="submit") Получите бесплатную камеру
                            div Мы гарантируем конфиденциальность ваших данных
                .zakl-1
                    img(src="img/zakl.png", alt="pic")
                .zakl-2
                    img(src="img/zakl.png", alt="pic")
                .zakl-3
                    img(src="img/zakl.png", alt="pic")
                .zakl-4
                    img(src="img/zakl.png", alt="pic")
        section.garantia.container
            h2.sect-title
                span.title ГАРАНТИЯ
                    span.line
            .gar-wrap
                .gar-left
                    h3 Гарантия на монтаж и оборудование
                    p От 1-го года до 2-х лет! Условия 2-х летней гарантии уточняйте у менеджера по телефону.
                    h3 Гарантия профессионализма
                    p Мы подберем для вас самое лучшее решение с учетом предпочтений и интересов, поможем вам в любых начинаниях и поддержим при любых условиях.
                    h3 Гарантия конфиденциальности
                    p Вся информация остаётся конфиденциальной. Мы ценим спокойствие наших клиентов. Наши клиенты ценят нашу надежность.
                    h3 Гарантия результата
                    p Результатом является довольный заказчик. Для вас снижаются издержки и риски. Денег будет больше, а контролировать ситуацию будет проще, в том числе дистанционно.
                .gar-right
                    img(src="img/garantia.JPG", alt="pic")
        section.otzivi.container
            h2.sect-title
                span.title ОТЗЫВЫ КЛИЕНТОВ
                    span.line
            .slick-sl
                .content-between
                    .left-block
                        img(src="img/sveta.png", alt="photo")
                        .info #[b Салон красоты:] установлено 4-е купольные, ip камеры + NVR на 4-е канала
                            br
                            | Светлана Алексеевна
                            br
                            |sveta_av@mail.ru
                            br
                            |8(495) 7054331
                        p "Меня поразила скорость работы компании! Я считала, что установить видеонаблюдение это длительная, сложная работа по проектированию, согласованию и монтажу профессионального оборудования. И все же сотрудники ВИДЕОНАБЛЮДЕНИЕ-БЫСТРО.РФ за два дня справились с этой задачей. Теперь я контролирую персонал салона и кассовые операции. Денег у меня стало значительно больше!"
                    .right-block
                        img(src="img/aram.jpg", alt="photo")
                        .info #[b Медицинский стомотологический центр:] установлено 7 камер + 
                            br
                            | видеорегистратор 8х 
                            br
                            |Арам Мнацаканов
                            br
                            | arams.2003@yandex.ru
                            br
                            | +7-916-236-45-92
                        p "Сразу привлекло дистанционное наблюдение через мобильный телефон за моей клиникой. Я воспользовался этим подарком и очень этим доволен! Объём работ был большой и все же монтажная бригада компании ВИДЕОНАБЛЮДЕНИЕ-БЫСТРО.РФ быстро закончила пыльные работы. Убрали за собой мусор! Качество изображения на высоте, буду ещё сотрудничать с ВИДЕОНАБЛЮДЕНИЕ-БЫСТРО.РФ"
                .content-between
                    .left-block
                        img(src="img/pens.jpg", alt="photo")
                        .info #[b Квартира:] установлена камера в подъезде на лестничной клетке с ИК подсветкой + вторая камера на парковку во дворе
                            br
                            | Михаил Евгеньевич
                            br
                            |asimovm@mail.ru
                            br
                            |8 (499) 3545676
                        p "Самые лестные отзывы о работе с компанией ВИДЕОНАБЛЮДЕНИЕ-БЫСТРО.РФ. Высококвалифицированные специалисты после монтажа рассказали мне, как пользоваться установленным видеонаблюдением. Теперь я спокойней сплю! Контролирую парковку своей машины и лестничную клетку перед входной дверью."
                    .right-block
                        img(src="img/tatyana.jpg", alt="photo")
                        .info #[b Строительство жилого комплекса:] установлено 2 ip камеры по 2-а мегапиксела через мобильный интернет.
                            br
                            | Контроль строительства ЖК
                            br
                            | Татьяна Сергеевна 
                            br
                            | tan.avbs@gmail.com
                            br
                            | +7-926-4566789
                        p "Согласно изменившимся требованиям законодательства обязательно требуется видеонаблюдение за строительством жилого комплекса. Компания ВИДЕОНАБЛЮДЕНИЕ-БЫСТРО.РФ оперативно справилась с этой задачей. Было установлено видеонаблюдение через мобильный интернет. Планируем разместить ещё две камеры наблюдения на кране для контроля этапов стройки."
        section.clienti.container
            h2.sect-title
                span.title НАШИ ИЗВЕСТНЫЕ КЛИЕНТЫ
                    span.line
            .slick-sl
                .content-between
                    .left-block
                        .im-wrap
                            img(src="img/glavmos.jpg", alt="icon")
                            .kr-opis "Главмосстрой" - один из крупнейших строительных холдингов России
                        .im-wrap
                            img(src="img/wwb.jpg", alt="icon")
                            .kr-opis Институт "Микрохирургии глаза" С.Н. Федорова - межотраслевой научно-технический 
                        .im-wrap
                            img(src="img/Ienel.png", alt="icon")
                            .kr-opis Институт "Микрохирургии глаза" С.Н. Федорова - межотраслевой научно-технический комплекс
                    .right-block
                        .im-wrap.gor
                            img.nezav(src="img/nezav.jpg", alt="icon")
                            .kr-opis Группа компаний "Независимость" - один из ведущих автодилеров России
                        .im-wrap
                            img.lantan(src="img/lantan.jpg", alt="icon")
                            .kr-opis "Лантан" - медицинская клиника аппаратной косметологии и пластической хирургии
                        .im-wrap.gor
                            img.cin(src="img/cin.png", alt="icon")
                            .kr-opis Институт "Микрохирургии глаза" С.Н. Федорова - межотраслевой научно-технический комплекс
        section.how-we-worck
            h2 КАК МЫ РАБОТАЕМ ?
            .container
                .circ-wrap
                    .item-circle
                        .circle 1
                            img.line-1(src="img/line.png", alt="pic")
                        .item-t.big Бесплатный эскизный проект расположения камер
                    .item-circle
                        .circle 2
                            img.line-2(src="img/line-2.png", alt="pic")
                        .item-t Расчёт
                    .item-circle
                        .circle 3
                            img.line-3(src="img/line-3.png", alt="pic")
                        .item-t Договор
                    .item-circle
                        .circle 4
                            img.line-4(src="img/line-4.png", alt="pic")
                        .item-t Предоплата
                    .item-circle
                        .circle 5
                        .item-t.last Ваша безопасность
        section.contacts-block.container
            h2.sect-title
                span.title НАШИ КОНТАКТЫ
                    span.line
            .contacts-wrap
               .contact-info
                    p 
                        b Компания по установке видеонаблюдения и систем контроля доступа "ВИДЕОНАБЛЮДЕНИЕ-БЫСТРО.РФ"
                    p Россия, 109004, г. Москва, Б. Дровяной пер., 13/7 500 метров от метро Марксистская или Таганская (кольцевая) 
                    p bystrovid@yandex.ru
                    .worck Звоните с 10.00 до 21.00 без выходных!
                    a.tel(href="tel:+74993467121")
                        img(src="img/icon-phone.png", alt="phone")
                        span.zphone 8 (499) 346-71-21
               .map
                    script(type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=m9pCVXBn9LVOFH4xvES1aJ-WHh3YuyFN&width=600&height=450")
        section.container.akciy-2
            h2 Акция!&nbsp;&nbsp; Купольная камера за 
                span.cross 3240 
                    span.first-line
                    span.second-line
                | руб. = 0 руб
            .acciy-2-wrap
                .akc-text
                    img.cam(src="img/mini-camera.jpg", alt="pic mini-camera")
                    p #[span.orange Бесплатно - новинка,] купольная, антивандальная, цветная камера с вариофокальным объективом f = от 2,8 до 10 мм, матрица SONY, режим день/ночь, инфракрасная подсветка до 30 метров! *,**
                    .dop  * - Количество акционных камер на складе ограничено.
                        br
                        | ** - При установке системы от трех камер и более.
                        br
                        | Срок действия акции ограничен.
                .forma-zayvka
                    h3 Оставьте заявку сейчас
                    div получите камеру бусплатно!
                    form(name="ZAYAVKA CUPOL BESPLATNO" method="post" action="send.php" enctype="multipart/form-data")
                        .input-wrap
                            input(type="text" placeholder="Ваше имя" name='name')
                            img.icon-user(src="img/user.png", alt="icon")
                        .input-wrap
                            input(type="tel" placeholder='Введите ваш телефон*' name='telefon')
                            img(src="img/icon-phone.png", alt="icon").icon-phone
                        button.btn(type="submit") Получите бесплатную камеру
                    div Мы гарантируем конфиденциальность ваших данных
                    .zakl-1
                        img(src="img/zakl.png", alt="pic")
                    .zakl-2
                        img(src="img/zakl.png", alt="pic")
                    .zakl-3
                        img(src="img/zakl.png", alt="pic")
                    .zakl-4
                        img(src="img/zakl.png", alt="pic")
        footer
            .container
                .foot-wrap
                    .left-bl
                        h2 Остались вопросы? звоните!
                        h2 Видеонаблюдение-быстро.рф
                        div Дарим чувство спокойствия
                    .right-bl
                        .worck Звоните с 10.00 до 21.00 без выходных!
                        a.tel(href="tel:+74993467121")
                            img(src="img/icon-phone.png", alt="phone")
                            span.zphone 8 (499) 346-71-21
                        button(type="button").btn.fansy Перезвоните мне
        .modal
            .forma-zayvka.mod
                    h3 Оставьте заявку сейчас
                    div получите камеру бусплатно!
                    form(name="ZAYAVKA SVYAZHITES SO MNOY" method="post" action="send.php" enctype="multipart/form-data")
                        .input-wrap
                            input(type="text" placeholder="Ваше имя" name="name")
                            img.icon-user(src="img/user.png", alt="icon")
                        .input-wrap
                            input(type="tel" placeholder='Введите ваш телефон*' name="telefon")
                            img(src="img/icon-phone.png", alt="icon").icon-phone
                        button.btn(type="submit") Получите бесплатную камеру
                    div Мы гарантируем конфиденциальность ваших данных
            .blagod СПАСИБО!#[br]ВАША ЗАЯВКА ПРИНЯТА!